/* 
The font Anton is only used for the logo.  So, we can pass a parameter 'text' with the value 'Pépites' to only fetch the characters we need
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap&text=Pépites');

.anton-regular {
    font-family: "Anton", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: var(--gray-light);
}

a:hover {
    color: var(--theme-color);
}

ul {
    list-style: none;
}

body {
    width: 99vw;
    height: 100vh;
    background-color: var(--darker);
    overflow: hidden;
}

:root {

    --dark: #002136;
    --darker: #101518;
    --super-dark: #000d16;

    --theme-color: #cc9600;

    --theme-color-category: #4a5a00;
    --theme-color-city: #5a3b00;
    --theme-color-pepite: #5a003b;
    --theme-color-user: #003b5a;
    --theme-color-account: #3b5a00;
    
    --border-light: #ffffff44;

    --gray-light: #d4d4d4;
    --gray-dimmed: #d4d4d41f;

    --danger: rgb(121, 58, 30);
    --success: rgb(25, 84, 38);
    --important: rgb(231, 172, 25);
    --warning: rgb(112, 0, 146);
}


body {
    color: var(--gray-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.text-12 {
    font-size: 0.75rem; /* 12px */
}
.text-14 {
    font-size: 0.875rem; /* 14px */
}
.text-16 {
    font-size: 1rem; /* 16px */
}
.text-18 {
    font-size: 1.125rem; /* 18px */
}
.text-20 {
    font-size: 1.25rem; /* 20px */
}
.text-24 {
    font-size: 1.5rem; /* 24px */
}
