/* 
The font Anton is only used for the logo.  So, we can pass a parameter 'text' with the value 'Pépites' to only fetch the characters we need
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap&text=Pépites');

.anton-regular {
    font-family: "Anton", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

a,
a:visited {
    text-decoration: none;
}