<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma superbe interface</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"></head>

<body>
<!--Les Directives en vue.js sont des nouveaux attributs pour implémenter en réactif-->
    <div id="app">
        <div class="container">
            <div class="row">
<!--Utilisation des directives v-for, v-on, v-model, v-if-->
                <p class="jumbotron">Login : <input type="text" v-model="user"/> | Vous êtes connectée en tant que {{user}}</p>
<!--Directive v-model synchronise le contenu de l'input avec qqch ici ds le data -->
            </div>
            <!--Pour afficher les listes-->
            <h1 class="display-4" v-if="commandes.length > 0">Produits commandés</h1>
<!--Directive conditionnelle v-if="false" les produits commandés ne s'afficheront plus-->
            <ul>
                <li v-for="commande in commandes">{{ commande }}</li>
            </ul>
            <!--Afficher les produits dispos-->
            <h1 v-bind:class="affichage" >Produits disponibles</h1>
<!--Directive v-bind fait varier des attributs html, ici class dispos-->
            <div class="row">
<!--Je crée la balise <fiche-produit> pr synthétiser qu'il ne trouvera pas tant que
je n'aurais pas crée mon composant dans ma balise script-->
                <fiche-produit v-for="produit in produits"></fiche-produit>
                <div class="col-3" v-for="produit in produits">
<!--Directive v-for interagit avec des listes, pr énumérer par ex. ici, var "affichage"
 pr relier la class qui était en display-4", <h1 class="display-4" >Produits disponibles</h1>
 qui sera remis en variable "affichage" après variable "commandes"[] l.54-->
                    <p class="jumbotron">
                        {{produit}}<br>
                        <!--Passer le paramètre (produit) + Directive v-on-->
                      <button v-on:click="commander(produit)">Commander !</button>
                    </p>
<!--LES COMPOSANTS vont servir à créer une simple balise qui va remplacer les 2 bouts de
codes précédents qui sont quasi similaires, produits dispo, produits commandés,
avec le composant<fiche-produit>-->
                </div>
            </div>
        </div>

    </div>

    <script>
        Vue.component('fiche-produit',{
            template:'<p class="jumbotron">demo</p>'
        })
        //On instancie la vue avec new
        var app = new Vue({
            el: "#app",
            data: {
                user: "Cora",
                //Créa du tableau de produits
                produits: ["pizza", "hamburger", "cheeseburger", "tacos"],
                commandes: [],
                affichage: "display-4"
        //Pr modifier easy, comme display-1, 2 etc...
            },
//On remplace le console log(produit) par la fonction et on pousse le produit avec push et this
/*Ici très IMPORTANT d'appeler les methods avec le 'this' nécessaire pour accéder aux
variables contenues dans l'instance*/     
            methods:{
                commander: function(produit){
                    this.commandes.push(produit);
//Ex. appeler autre method : this.calculerPrix.push(produit)
                }
            }
        })
    </script>
</body>
</html>